# Default values for etcd-backup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cronjob:
  # show debug output in scripts
  debug: false
  ## Schedule in Cron format to save snapshots
  schedule: "* */1 * * *"
  ## delete backups after backupRetention days
  backupRetention: 1
  ## The filename for the snapshot
  snapshotFilename: "etcd-snapshot-$(date +%Y-%m-%d_%H:%M:%S_%Z).db"
  ## The filemode for the snapshot
  snapshotFilepermission: 640
  ## Number of successful finished jobs to retain
  historyLimit: 1
  restartPolicy: OnFailure
  podAnnotations: {}

image:
  registry: k8s.gcr.io
  repository: etcd-amd64
  pullPolicy: IfNotPresent

etcdctl:
  api_version: "3"
  cert: /certs/peer.crt
  key: /certs/peer.key
  cacert: /certs/ca.crt
  endpoint:
    host: "$(NODE_IP)"
    proto: https
    port: 2379

# use the hostNetwork
hostNetwork: true

volumes:
  certs:
    hostpath: /etc/kubernetes/pki/etcd
    mountpath: /certs
  backup_dir:
    hostpath: /data/backup
    mountpath: /data/backup

nameOverride: ""
fullnameOverride: ""

podSecurityContext: {}

## Kubernetes Security Context
## https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
##
securityContext:
  enabled: false
  fsGroup: 1001
  runAsUser: 1001

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# The Cronjobs could run on all master nodes
nodeSelector:
  node-role.kubernetes.io/master: ""

# Ignore NoSchedule on master Nodes
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists

affinity: {}
